<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div id="app">
        <div id="sidebar-container"></div>

        <div class="main-wrapper">
            <div id="header-container"></div>

            <main id="main-content"></main>
        </div>
    </div>

    <script src="../../pages/Setting/setting.js"></script>

    <script src="../js/router.js"></script>
    <script src="../js/auth.js"></script>

    <body onload="checkAuth()"></body>
</body>
</body>

</html>