<div class="logo"
    style="padding: 20px; display: flex; align-items: center; gap: 10px; color: var(--text-light); font-weight: bold; font-size: 18px;">
    <div
        style="width: 30px; height: 30px; background-color: var(--accent-color); border-radius: 50%; display: flex; align-items: center; justify-content: center;">
        <i class="fa-solid fa-play" style="color: white; font-size: 12px;"></i>
    </div>
    Hệ thống tính công
</div>
<ul style="list-style: none; padding: 0; margin-top: 10px;">
    <li style="padding: 12px 20px; cursor: pointer">
        <i class="fa-solid fa-gauge" style="width: 25px;"></i> Dashboard
    </li>
    <li style="padding: 12px 20px; cursor: pointer;">
        <i class="fa-solid fa-clock" style="width: 25px;"></i> Thời gian làm việc
    </li>
    <li style="padding: 12px 20px; cursor: pointer;">
        <i class="fa-solid fa-file-invoice" style="width: 25px;"></i> Thống kê
    </li>

    <li style="padding: 12px 20px; cursor: pointer;">
        <i class="fa-solid fa-bell" style="width: 25px;"></i> Thông báo
    </li>

    <li style="padding: 12px 20px; cursor: pointer;">
        <i class="fa-solid fa-user" style="width: 25px;"></i> Thông tin nhân viên
    </li>

    <li style="padding: 12px 20px; cursor: pointer;">
        <i class="fa-solid fa-calendar-check" style="width: 25px;"></i> Ngày nghỉ
    </li>
    <li style="padding: 12px 20px; cursor: pointer;">
        <i class="fa-solid fa-gear" style="width: 25px;"></i> Cài Đặt
    </li>
</ul>